
@media screen  and (min-width: 1200px) {
	.hero-area__images{
		width: 1361px;
		height: 907px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hero-area__images{
		width: 1361px;
		height: 907px;
	} 
 }


 @media screen and (max-width: 800px) {
	.hero-area__images{
		width: 1361px;
		height: 907px;
	} 
 }