
@media screen  and (min-width: 1200px) {
	.hero-area__image_bottom{
		z-index:1;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hero-area__image_bottom{
		z-index:1;
	} 
 }


 @media screen and (max-width: 800px) {
	.hero-area__image_bottom{
		z-index:1;
	} 
 }