
 @media screen  and (min-width: 1200px) {
	.about_position{
		position:relative;
		left:-10px;
		top:-10px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about_position{
		position:relative;
		left:0px;
		top:-10px;
	} 
 }


 @media screen and (max-width: 800px) {
	.about_position{
		position:relative;
		left:0px;
		top:-10px;
	} 
 }