@media screen  and (min-width: 1200px) {
	.about{
		width: 1602px;
		height: 829px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about{
		width: 1200px;
		height: 829px;
	} 
 }


 @media screen and (max-width: 800px) {
	.about{
		width: 800px;
		height: 829px;
	} 
 }