@media screen  and (min-width: 1200px) {
	.about__texture-rectangle3{
		/* Style for "Rectangle" */
		width: 83px;
		height: 80px;
		background-color: #ffffff;
		opacity: 0.9;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about__texture-rectangle3{
		/* Style for "Rectangle" */
		width: 83px;
		height: 80px;
		background-color: #ffffff;
		opacity: 0.9;
	} 
 }


 @media screen and (max-width: 800px) {
	.about__texture-rectangle3{
		/* Style for "Rectangle" */
		width: 83px;
		height: 80px;
		background-color: #ffffff;
		opacity: 0.9;
	} 
 }