@media screen  and (min-width: 1200px) {
	.about__BG{
		width: 1602px;
		height: 780px;
		background-color: #f7f7fc;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about__BG{
		width: 1200px;
		height: 780px;
		background-color: #f7f7fc;	
	} 
 }


 @media screen and (max-width: 800px) {
	.about__BG{
		width: 800px;
		height: 780px;
		background-color: #f7f7fc;
	} 
 }
 