
 @media screen  and (min-width: 1200px) {
	.about__texture-shape1_position{
		position:absolute;
		left:299px;
		top:170px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about__texture-shape1_position{
		position:absolute;
		left:299px;
		top:170px;
	} 
 }


 @media screen and (max-width: 800px) {
	.about__texture-shape1_position{
		position:absolute;
		left:299px;
		top:170px;
	} 
 }