@media screen  and (min-width: 1200px) {
	.about__texture-shape1{
		width: 1px;
		height: 504px;
		background-color: #ffcc00;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about__texture-shape1{
		width: 2px;
		height: 504px;
		background-color: #ffcc00;
	} 
 }


 @media screen and (max-width: 800px) {
	.about__texture-shape1{
		width: 1px;
		height: 504px;
		background-color: #ffcc00;
	} 
 }