@media screen  and (min-width: 1200px) {
	.about-myself__header{
		width: 251px;
		height: 38px;
		color: #2b2d5c;
		font-family: Trirong;
		font-size: 40px;
		font-weight: 300;
		line-height: 76px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about-myself__header{
		width: 251px;
		height: 38px;
		color: #2b2d5c;
		font-family: Trirong;
		font-size: 40px;
		font-weight: 300;
		line-height: 76px;
	} 
 }


 @media screen and (max-width: 800px) {
	.about-myself__header{
		width: 251px;
		height: 38px;
		color: #2b2d5c;
		font-family: Trirong;
		font-size: 40px;
		font-weight: 300;
		line-height: 76px;
	} 
 }
 