@media screen  and (min-width: 1200px) {
	.scroll{
		width: 50px;
		height: 56px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.scroll{
		width: 50px;
		height: 56px;
	} 
 }


 @media screen and (max-width: 800px) {
	.scroll{
		width: 50px;
		height: 56px;
	} 
 }