@media screen  and (min-width: 1200px) {
	.social{
		width: 149px;
		height: 23px;
		display:flex;
		justify-content:space-between;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.social{
		width: 149px;
		height: 23px;
		display:flex;
		justify-content:space-between;
	} 
 }


 @media screen and (max-width: 800px) {
	.social{
		width: 149px;
		height: 23px;
		display:flex;
		justify-content:space-between;
	} 
 }