
@media screen  and (min-width: 1200px) {
	.blog_position{
		position:relative;
		top:424px;	
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.blog_position{
		position:relative;
		top: 875px;	
	}
 }

 @media screen and (max-width: 800px) {
	.blog_position{
		position:relative;
		top: 875px;		
	}
 }