
@media screen  and (min-width: 1200px) {
	.blog__part-1-text{
		display:flex;
		flex-direction:column;
		z-index:2;
		
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.blog__part-1-text{
		display:flex;
		flex-direction:column;
		z-index:2;
	}
 }

 @media screen and (max-width: 800px) {
	.blog__part-1-text{
		display:flex;
		flex-direction:column;
		z-index:2;
	}
 }