
@media screen  and (min-width: 1200px) {
	.blog__text-center{
		width: 471px;
		height: 88px;
		opacity: 0.8;
		color: #2b2d5c;
		font-family: Muli;
		font-size: 20px;
		font-weight: 300;
		line-height: 34px;
		z-index:2;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.blog__text-center{
		width: 471px;
		height: 88px;
		opacity: 0.8;
		color: #2b2d5c;
		font-family: Muli;
		font-size: 20px;
		font-weight: 300;
		line-height: 34px;
		z-index:2;
	}
 }

 @media screen and (max-width: 800px) {
	.blog__text-center{
		width: 471px;
		height: 88px;
		opacity: 0.8;
		color: #2b2d5c;
		font-family: Muli;
		font-size: 20px;
		font-weight: 300;
		line-height: 34px;
		z-index:2;
	}
 }