
@media screen  and (min-width: 1200px) {
	.blog__center-element{
		width: 450px;
		height: 615px;
		box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
		background-color: #ffffff;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.blog__center-element{
		width: 450px;
		height: 615px;
		box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
		background-color: #ffffff;
	}
 }

 @media screen and (max-width: 800px) {
	.blog__center-element{
		width: 450px;
		height: 615px;
		box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
		background-color: #ffffff;
	}
 }