
@media screen  and (min-width: 1200px) {
	.blog__plus{
		width: 256px;
		height: 157px;
		z-index:2;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.blog__plus{
		width: 256px;
		height: 157px;
		z-index:2;
		display: none;
	}
 }

 @media screen and (max-width: 800px) {
	.blog__plus{
		width: 256px;
		height: 157px;
		z-index:2;
		display: none;
	}
 }