
@media screen  and (min-width: 1200px) {
	.blog__text-3_position{
		position:relative;
		top:70px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.blog__text-3_position{
		position:relative;
		top:70px;
	}
 }

 @media screen and (max-width: 800px) {
	.blog__text-3_position{
		position:relative;
		top:70px;	
	}
 }