
@media screen  and (min-width: 1200px) {
	.blog__part-2_position{
		position:relative;
		top:128px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.blog__part-2_position{
		position:relative;
		top:128px;	
	}
 }

 @media screen and (max-width: 800px) {
	.blog__part-2_position{
		position:relative;
		top:128px;	
	}
 }