
@media screen  and (min-width: 1200px) {
	.blog__part-1-text_position{
		position:relative;
		left:34px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.blog__part-1-text_position{
		position:relative;
		left:34px;
	}
 }

 @media screen and (max-width: 800px) {
	.blog__part-1-text_position{
		position:relative;	
		left:34px;
	}
 }