 @media screen  and (min-width: 1200px) {
	.texture__rectangle2_position{
		position:relative;
		left:-3px;
		top:0px;
		z-index:2;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.texture__rectangle2_position{
		position:relative;
		left:-3px;
		top:0px;
		z-index:2;
	} 
 }


 @media screen and (max-width: 800px) {
	.texture__rectangle2_position{
		position:relative;
		left:-3px;
		top:0px;
		z-index:2;
	} 
 }
 