
 @media screen  and (min-width: 1200px) {
	.texture_position{
		position: absolute;
		top: 737px;
		z-index: 2;

	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.texture_position{
		position: absolute;
		top: 737px;
		z-index: 2;
	} 
 }


 @media screen and (max-width: 800px) {
	.texture_position{
		position: absolute;
		top: 737px;
		z-index: 2;
	} 
 }
 