@media screen  and (min-width: 1200px) {
	.texture__group-right_position{
		position: absolute;
		right: 10px;
		top: 0px;
		z-index: 2;
		opacity: 0.08;
		width: 153px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.texture__group-right_position{
		position: absolute;
		right: 10px;
		top: 0px;
		z-index: 2;
		opacity: 0.08;
		width: 153px;
	} 
 }


 @media screen and (max-width: 800px) {
	.texture__group-right_position{
		position: absolute;
		right: 10px;
		top: 0px;
		z-index: 2;
		opacity: 0.08;
		width: 153px;
	} 
 }