
 @media screen  and (min-width: 1200px) {
	.texture__group-left_position{
		position:absolute;
		left:-11px;
		top:4px;
		width: 158px;
		z-index:2;
		opacity: 0.13;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.texture__group-left_position{
		position:absolute;
		left:-11px;
		top:4px;
		width: 158px;
		z-index:2;
		opacity: 0.13;
	} 
 }


 @media screen and (max-width: 800px) {
	.texture__group-left_position{
		position:absolute;
		left:-11px;
		top:4px;
		width: 158px;
		z-index:2;
		opacity: 0.13;
	} 
 }

 
 
 