@media screen  and (min-width: 1200px) {
	.line{
		width: 616px;
		height: 181px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.line{
		width: 616px;
		height: 181px;
	} 
 }


 @media screen and (max-width: 800px) {
	.line{
		width: 616px;
		height: 181px;
	} 
 }