
 @media screen  and (min-width: 1200px) {
	.line__horizontal_position{
		position:absolute;
		left:0px;
		top:95px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.line__horizontal_position{
		position:absolute;
		left:0px;
		top:95px;
	} 
 }


 @media screen and (max-width: 800px) {
	.line__horizontal_position{
		position:absolute;
		left:0px;
		top:95px;
	} 
 }
 