
@media screen  and (min-width: 1200px) {
	.popup_position{
		position:fixed;
		left:40.3%;
		top:128px;
		z-index:3;
		
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.popup_position{
		position:fixed;
		left:40.3%;
		top:128px;
		z-index:3;
		
	}
 }

 @media screen and (max-width: 800px) {
	.popup_position{
		position:fixed;
		left:40.3%;
		top:128px;
		z-index:3;
		
	}
 }