
 @media screen  and (min-width: 1200px) {
	.hero-text_position{
		position:absolute;
		left:214px;
		top:363px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hero-text_position{
		position:absolute;
		left:214px;
		top:363px;
	} 
 }


 @media screen and (max-width: 800px) {
	.hero-text_position{
		position:absolute;
		left:106px;
		top:363px;
	} 
 }
 