@media screen  and (min-width: 1200px) {
	.happy-clients{
		width: 1600px;
		height: 297px;
		background-color: #2b2d5c;
		display:flex;
		justify-content:center;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.happy-clients{
		width: 1200px;
		height: 297px;
		background-color: #2b2d5c;
	} 
 }


 @media screen and (max-width: 800px) {
	.happy-clients{
		width: 800px;
		height: 500px;
		background-color: #2b2d5c;
	} 
 }
