
@media screen  and (min-width: 1200px) {
	.happy-clients__vertical_position{
		position:relative;
		left:135px;
		top:0px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.happy-clients__vertical_position{
		position:relative;
		left:135px;
		top:0px;
	}
 }

 @media screen and (max-width: 800px) {
	.happy-clients__vertical_position{
		position:relative;
		left:135px;
		top:0px;
	}
 }