
@media screen  and (min-width: 1200px) {
	.hire-me__button{
		width: 200px;
		height: 49px;
		border-radius: 24px;
		background-color: #ffcc00;
		color: #2b2d5c;
		font-family: Muli;
		font-size: 15px;
		font-weight: 300;
		line-height: 34.16px;
		text-transform: uppercase;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hire-me__button{
		width: 200px;
		height: 49px;
		border-radius: 24px;
		background-color: #ffcc00;
		color: #2b2d5c;
		font-family: Muli;
		font-size: 15px;
		font-weight: 300;
		line-height: 34.16px;
		text-transform: uppercase;
	}
 }

 @media screen and (max-width: 800px) {
	.hire-me__button{
		width: 200px;
		height: 49px;
		border-radius: 24px;
		background-color: #ffcc00;
		color: #2b2d5c;
		font-family: Muli;
		font-size: 15px;
		font-weight: 300;
		line-height: 34.16px;
		text-transform: uppercase;
	}
 }