
@media screen  and (min-width: 1200px) {
	.hire-me__input_position{
		position:relative;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hire-me__input_position{
		position:relative;
	}
 }

 @media screen and (max-width: 800px) {
	.hire-me__input_position{
		position:relative;
	}
 }