
@media screen  and (min-width: 1200px) {
	.hire-me__vertical-1{
		width: 2px;
		height: 377px;
		background-color: #5f61a3;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hire-me__vertical-1{
		width: 2px;
		height: 377px;
		background-color: #5f61a3;
	}
 }

 @media screen and (max-width: 800px) {
	.hire-me__vertical-1{
		width: 2px;
		height: 377px;
		background-color: #5f61a3;
	}
 }