@media screen  and (min-width: 1200px) {
	.hire-me__up_fixed{
		position: fixed;
		top: 471px;
		left:1117px;
		z-index:4;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hire-me__up_fixed{
		position: fixed;
		top: 470px;
		left: 900px;
		z-index:4;
	}
 }

 @media screen and (max-width: 800px) {
	.hire-me__up_fixed{
		position: fixed;
		top: 470px;
		left: 600px;
		z-index:4;
	}
 }
 
 
