
@media screen  and (min-width: 1200px) {
	.hire-me__block-form_position{
		position:relative;
		top:115px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hire-me__block-form_position{
		position:relative;
		top:115px;
	}
 }

 @media screen and (max-width: 800px) {
	.hire-me__block-form_position{
		position:relative;
		top:115px;
	}
 }