
@media screen  and (min-width: 1200px) {
	.hire-me__horizontal-1_position{
		position: absolute;
		top: 261px;
		left:1297px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.hire-me__horizontal-1_position{
	    position: absolute;
		top: 261px;
		left:997px;
	}
 }

 @media screen and (max-width: 800px) {
	.hire-me__horizontal-1_position{
	    position: absolute;
		top: 261px;
		left:997px;
		display:none;
	}
 }