
@media screen  and (min-width: 1200px) {
	.portfolio__picture-6{
		width: 335px;
		height: 233px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__picture-6{
		width: 335px;
		height: 233px;
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__picture-6{
		width: 335px;
		height: 233px;
	}
 }
