
@media screen  and (min-width: 1200px) {
	.portfolio__vertical{
		width: 1px;
		height: 76px;
		background-color: #ffcc00;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__vertical{
		width: 1px;
		height: 76px;
		background-color: #ffcc00;
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__vertical{
		width: 1px;
		height: 76px;
		background-color: #ffcc00;
	}
 }
