
@media screen  and (min-width: 1200px) {
	.portfolio__gorizontal_position{
		position:relative;
		top:38px;
		left:0px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__gorizontal_position{
		position:relative;
		top:38px;
		left:0px;
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__gorizontal_position{
		position:relative;
		top:38px;
		left:0px;
	}
 }