
@media screen  and (min-width: 1200px) {
	.portfolio__button{
		width: 217px;
		height: 51px;
		border-radius: 26px;
		border: 1px solid #ffcc00;
		background: #ffffff;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		align-items: center;
		color: #f2c200;
		font-family: "Muli - Semi Bold";
		font-size: 16px;
		font-weight: 400;
		line-height: 38px;
		text-transform: uppercase;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__button{
		width: 217px;
		height: 51px;
		border-radius: 26px;
		border: 1px solid #ffcc00;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		align-items: center;
		color: #f2c200;
		font-family: "Muli - Semi Bold";
		font-size: 16px;
		font-weight: 400;
		line-height: 38px;
		text-transform: uppercase;
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__button{
		width: 217px;
		height: 51px;
		border-radius: 26px;
		border: 1px solid #ffcc00;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		align-items: center;
		color: #f2c200;
		font-family: "Muli - Semi Bold";
		font-size: 16px;
		font-weight: 400;
		line-height: 38px;
		text-transform: uppercase;
	}
 }
