
@media screen  and (min-width: 1200px) {
	.portfolio__rectangle-header{
		width: 163px;
		height: 30px;
		color: #2b2d5c;
		font-family: Trirong;
		font-size: 40px;
		font-weight: 400;
		line-height: 38px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__rectangle-header{
		width: 163px;
		height: 30px;
		color: #2b2d5c;
		font-family: Trirong;
		font-size: 40px;
		font-weight: 400;
		line-height: 38px;
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__rectangle-header{
		width: 163px;
		height: 30px;
		color: #2b2d5c;
		font-family: Trirong;
		font-size: 40px;
		font-weight: 400;
		line-height: 38px;
	}
 }
