
@media screen  and (min-width: 1200px) {
	.portfolio__picture-1_position{
		position: absolute;
		top: 0px;
		left:0px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__picture-1_position{
		position: relative;
	    top: 0px;
		left:0px;
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__picture-1_position{
		position: relative;
	    top: 0px;
	}
 }