
@media screen  and (min-width: 1200px) {
	.portfolio__picture-6_position{
		position: absolute;
		top:264px;
		left:734px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__picture-6_position{
		position: absolute;
		top:264px;
		left:734px;
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__picture-6_position{
		position: relative;
		top:200px;
	}
 }