
@media screen  and (min-width: 1200px) {
	.portfolio__picture-1-plus{
		width: 76px;
		height: 76px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__picture-1-plus{
		width: 76px;
		height: 76px;
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__picture-1-plus{
		width: 76px;
		height: 76px;
	}
 }
