
@media screen  and (min-width: 1200px) {
	.portfolio__plus{
		width: 256px;
		height: 316px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.portfolio__plus{
		width: 256px;
		height: 316px;
		display: none;	
	}
 }

 @media screen and (max-width: 800px) {
	.portfolio__plus{
		width: 256px;
		height: 316px;
		display: none;
	}
 }

