
@media screen  and (min-width: 1200px) {
	.fotter__image-6-instagram_position{
		position: absolute;
		top: 105px;
		left: 126px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter__image-6-instagram_position{
		position: absolute;
		top: 105px;
		left: 126px;		
	}
 }

 @media screen and (max-width: 800px) {
	.fotter__image-6-instagram_position{
		position: absolute;
		top: 105px;
		left: 126px;
	}
 }