
@media screen  and (min-width: 1200px) {
	.fotter__post{
		width: 365px;
		height: 60px;
		background-color: #2b2d5c;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter__post{
		width: 365px;
		height: 60px;
	}
 }

 @media screen and (max-width: 800px) {
	.fotter__post{
		width: 365px;
		height: 60px;
		background-color: #2b2d5c;
	}
 }