
@media screen  and (min-width: 1200px) {
	.fotter__text-contact_position{
		position: relative;
		top: 70px;
		left: 0px; 
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter__text-contact_position{
		position: relative;
		top: 70px;
		left: 0px; 		
	}
 }

 @media screen and (max-width: 800px) {
	.fotter__text-contact_position{
		position: relative;
		top: 70px;
		left: 0px; 	
	}
 }