
@media screen  and (min-width: 1200px) {
	.fotter{
		width: 1606px;
		height: 614px;
		background-color: #2b2d5c;
		display: flex;
		flex-direction: column;
		align-items:center;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter{
		width: 1200px;
		height: 614px;
		background-color: #2b2d5c;
		display: flex;
		flex-direction: column;
		align-items:center;
	}
 }

 @media screen and (max-width: 800px) {
	.fotter{
		width: 800px;
		height: 1350px;
		background-color: #2b2d5c;
		display: flex;
		flex-direction: column;
	}
 }