
@media screen  and (min-width: 1200px) {
	.fotter_position{
		position:relative;
		top:617px;	
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter_position{
		position:relative;
		top: 980px;		
	}
 }

 @media screen and (max-width: 800px) {
	.fotter_position{
		position:relative;
		top: 980px;		
	}
 }