
@media screen  and (min-width: 1200px) {
	.fotter__blog-image{
		width: 70px;
		height: 60px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter__blog-image{
		width: 70px;
		height: 60px;
	}
 }

 @media screen and (max-width: 800px) {
	.fotter__blog-image{
		width: 70px;
		height: 60px;
	}
 }