
@media screen  and (min-width: 1200px) {
	.fotter__block-links{
		width: 57px;
		color: #ffffff;
		font-family: "Muli - Semi Bold";
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		display:flex;
		flex-direction: column;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter__block-links{
		width: 57px;
		color: #ffffff;
		font-family: "Muli - Semi Bold";
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		display:flex;
		flex-direction: column;
	}
 }

 @media screen and (max-width: 800px) {
	.fotter__block-links{
		width: 57px;
		color: #ffffff;
		font-family: "Muli - Semi Bold";
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		display:flex;
		flex-direction: column;
	}
 }