
@media screen  and (min-width: 1200px) {
	.fotter__horizontal-top{
		width: 1604px;
		height: 1px;
		background-color: #ffffff;
		opacity: 0.1;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter__horizontal-top{
		width: 1200px;
		height: 2px;
		background-color: #ffffff;
		opacity: 0.1;
	}
 }

 @media screen and (max-width: 800px) {
	.fotter__horizontal-top{
		width: 800px;
		height: 3px;
		background-color: #ffffff;
		opacity: 0.1;
	}
 }