
@media screen  and (min-width: 1200px) {
	.fotter__header-contact_position{
		position:relative;
		top: 39px;
		left: 0px;	
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.fotter__header-contact_position{
		position:relative;
		top: 39px;
		left: 0px;	
	}
 }

 @media screen and (max-width: 800px) {
	.fotter__header-contact_position{
		position:relative;
		top: 39px;
		left: 0px;
	}
 }