@media screen  and (min-width: 1200px) {
	.menu{
		width: 336px;
		height: 22px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		z-index:3;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.menu{
		width: 336px;
		height: 22px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		z-index:3;
	} 
 }


 @media screen and (max-width: 800px) {
	.menu{
		width: 336px;
		height: 22px;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		z-index:3;
	} 
 }