
 @media screen  and (min-width: 1200px) {
	.about-skills_position{
		position:absolute;
		left:649px;
		top:396px;
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about-skills_position{
		position:absolute;
		left:600px;
		top:450px;
	} 
 }


 @media screen and (max-width: 800px) {
	.about-skills_position{
		position:absolute;
		left:60px;
		top:396px;
	} 
 }
 