
 @media screen  and (min-width: 1200px) {
	.about-skills__element-image_position{
		position:absolute;
		top:43px;	
	} 
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.about-skills__element-image_position{
		position:absolute;
		top:43px;
	} 
 }


 @media screen and (max-width: 800px) {
	.about-skills__element-image_position{
		position:absolute;
		top:43px;
	} 
 }
 